.post{
    display: flex;
    flex-direction: column;
    margin: 10px;
    background-color: white;
    border-radius: 10px;
    padding-bottom: 10px;
    .postinfo{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 5px;
        padding-left: 10px;
        .postAvatar{
            height: 40px;
            width: 40px;
            margin: 5px;
        }
        .postOwner{
            padding-left: 10px;
            display: flex;
            flex-direction: column;
            font-size: 12px;
            .row1{
                font-size: 13px;
                font-weight: bolder;
            }
            .row2{
                color: rgb(90, 89, 89);
            }
        }
    }
    .postBody{
        margin-top: 10px;
        overflow-wrap: anywhere;
        display: flex;
        flex-direction: column;
        .postMessage{
            font-size: 15px;
            padding-bottom: 10px;
            padding: 10px;
            align-content: center;
        }
        .postImg{
            object-fit: cover;
            height: 100%;
            width: 100%;
        }
        .postOption{
            border-top: solid;
            border-width: 0.1px;
            border-color: lightgray;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            margin-top: 20px;
            padding-top: 10px;
            padding-bottom: 10px;

        }
    }
}